{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create Listing</h2>

    <form action="{% url 'saveListing' %}" method="POST">
        {% csrf_token %}
        <label for="name">Name (max_length=64):</label>
        <input type="text" id="name" name="name">
        <br>
        <label for="startingBid">Starting bid:</label>
        <input type="number" id="startingBid" name="startingBid" min="0" step=".01">
        <br>
        <label for="image">Image (URL):</label>
        <input type="text" id="image" name="image">
        <br>
        <label for="name">Category:</label>
        {{ form }}
        <br>
        <label for="description">Description (max_length=1000):</label><br>
        <textarea name="description" id="description" cols="50" rows="10"></textarea>
        <br>
        <input type="submit">
    </form>  

{% endblock %}