{% extends "auctions/layout.html" %}

{% block body %}
    {% if isMine %}
        <a href="{% url 'removeListing' listing.id %}">Remove listing</a>
    {% else %}
        {% if inWatchlist %}
            <a href="{% url 'removeWatchlist' listing.id %}">Remove from watchlist</a>
        {% else %}
            <a href="{% url 'addWatchlist' listing.id %}">Add to watchlist</a>
        {% endif %}
            <br>
            <br>
            {% if currentBid %}
                <p>Current Bid: {{ currentBid }} €</p>
            {% else %}
                <p>Current Bid: {{ currentBid }}</p>
            {% endif %}
            <form action="{% url 'bid' listing.id %}" method="POST">
                {% csrf_token %}
                <label for="bidForm">Bid:</label>
                <input type="number" id="bidForm" name="bidForm" min="{{ nextBid }}" step=".01">
                <input type="submit">
            </form>
            <!-- # TODO error -->
            {% if errorBid %}
                <p>Can't place that bid</p>
            {% endif %}
    {% endif %}

    <h2>Name: {{ listing.name }}</h2>

    <img src="{{ listing.image }}" alt="imagem">

    <p>Starting Bid: {{ listing.startingBid }}€</p>

    <p>Category: {{ listing.category }}</p>

    <p>Description: {{ listing.description }}</p>

    <a href="{% url 'comment' listing.id %}">Add comment</a>
    {% for com in comments %}
        <div class="userComment">
            <i>User: {{ com.user }}</i>
            <br>
            <i>Date: {{ com.date }}</i>
            <br>
            <i>Text: {{ com.text }}</i>
        </div>    
    {% endfor %}
{% endblock %}