{% extends "auctions/layout.html" %}

{% block body %}
    {% if isMine %}
        {% if isActive %}
            <a href="{% url 'removeListing' listing.id %}">Remove listing</a>
        {% endif %}
        <!-- # TODO watchlist if isMine -->
        
        {% if inWatchlist %}
            <a href="{% url 'removeWatchlist' listing.id %}">Remove from watchlist</a>
        {% else %}
            <a href="{% url 'addWatchlist' listing.id %}">Add to watchlist</a>
        {% endif %}
        
        <br>
        
        {% if currentBid %}
            <p>Current Bid: {{ currentBid }} €</p>
            <p>Bidder: {{ bidder }}</p>
        {% else %}
            <p>Current Bid: None</p>
        {% endif %}

    {% else %}
        
        {% if currentBid %}
            <p>Current Bid: {{ currentBid }} €</p>
            <p>Bidder: {{ bidder }}</p>
        {% else %}
            <p>Current Bid: None</p>
        {% endif %}
        
        {% if isActive %}
            {% if inWatchlist %}
                <a href="{% url 'removeWatchlist' listing.id %}">Remove from watchlist</a>
            {% else %}
                <a href="{% url 'addWatchlist' listing.id %}">Add to watchlist</a>
            {% endif %}
            
            <form action="{% url 'bid' listing.id %}" method="POST">
                {% csrf_token %}
                <label for="bidForm">Bid:</label>
                <input type="number" id="bidForm" name="bidForm" min="{{ nextBid }}" step=".01">
                <input type="submit">
            </form>

        {% else %}
            <h3>Auction Close</h3>
            <!-- # TODO tester -->
            <h5>Winner: {{ listing.latestBid.bidder }}</h5>
        {% endif %}
    {% endif %}

    <h2>Name: {{ listing.name }}</h2>

    <i>Date: {{ date }}</i>

    <br>

    <img src="{{ listing.image }}" alt="imagem">

    <p>Starting Bid: {{ listing.startingBid }}€</p>

    <p>Category: {{ listing.category }}</p>

    <p>Description: {{ listing.description }}</p>

    {% if isActive %}
        <a href="{% url 'comment' listing.id %}">Add comment</a>
    {% endif %}
    
    {% for com in comments %}
        <div class="userComment">
            <i>User: {{ com.user }}</i>
            <br>
            <i>Date: {{ com.date }}</i>
            <br>
            <i>Text: {{ com.text }}</i>
        </div>    
    {% endfor %}
{% endblock %}