{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Category: {{ category }}</h2>

    {% if listings %}
        {% for listing in listings %}
            <div class="container" id="{{ listing.id }}">
                <div class="row no-gutters">
                    <div class="col-sm-4 col-md-4">
                        <img src="{{ listing.image }}" alt="listing image">
                    </div>
                    <div class="col-8 col-md-8">
                        <a href="{% url 'listing' listing.id %}">{{ listing.name }}</a>
                        <p>Starting Bid: {{ listing.startingBid }}</p>
                        <p>Category: {{ listing.category }}</p>
                        <p>Description: {{ listing.description }}</p>
                        <br>
                        <i>{{ listing.date }}</i>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h6>Category doesn't have listings</h6>
    {% endif %}
{% endblock %}