
#search {
    text-align: center;
}

.back {
    vertical-align: top;
    float: right;
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 508px;
    clear: both;
}

.bar {
    width: 500px;
    height: 30px;
    border-radius: 15px;
    outline: none;
}

#bt {
    margin-top: 2rem;
    position: absolute;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#submitASearch {
    background-color: blue;
    color: white;
    margin-top: 25px;
    margin-left: 270px;
}

#formASearch {
    display: flex;
}

#Awords {
    flex: 0 0 11%;
}

